body {
  background: rgba(0, 0, 0, 0);
  -moz-transition: background 0ms linear 1ms;
  -webkit-transition: background 0ms linear 1ms;
  -o-transition: background 0ms linear 1ms;
  transition: background 0ms linear 1ms;
}
body.transitioning {
  background: rgba(1, 0, 0, 0);
}