/* CSS declarations go here */

.container {
  width: 500px;
  height: 300px;
  background: #eee;
  overflow: hidden;
  position: relative;
}

.wrap {
  width: 1000px;
  position: relative;
}

/* animation */
.transitioning .wrap {
  left: -500px;
  transition: left 1000ms ease-in-out 0;
  -moz-transition: left 1000ms ease-in-out 0;
  -webkit-transition: left 1000ms ease-in-out 0;
}

body {
  background: rgba(0, 0, 0, 0);
  transition: background 0 linear 1s;
  -moz-transition: background 0 linear 1s;
  -webkit-transition: background 0 linear 1s;
}
body.transitioning {
  background: rgba(1, 0, 0, 0);
}

.current, .next {
  width: 496px;
  height: 296px;
  float: left;
  line-height: 296px;
  text-align: center;
}
.current {
  background: rgb(102, 153, 204);
  border: 2px solid rgb(51, 102, 204);
}

.next {
  background: rgb(255, 204, 153);
  border: 2px solid rgb(255, 153, 102);
}

form {
  clear: both;
}